html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#babylonCanvas {
  width: 100%;
  height: 100%;
}
#announcement{
  position: absolute;
  top: 5%;
  left: 40%;
  color: white;
  font-size: 2rem;
}

#health-container{
  border: 1px solid white;
  position: absolute;
  bottom: 2%;
  left: 40%;
  width: 15%;
  height: 2%;
}
#health{
  height: 100%;
  width: 100%;
  background-color: red;
  color: white;
}

#stamina{
  position: absolute;
  bottom: 0;
  left: 60%;
  font-size: 2rem;
  color: bisque;
}

#game-won{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
}

#game-over{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
}
#game-over img{
  position: absolute;
  top: 5%;
  left: 2%;
}
#game-over p{
  position: absolute;
  left: 50%;
  top: 30%;
  color: white;
  font-size: 5rem;
}
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(2, 100%, 61%);
  --first-color-alt: hsl(2, 89%, 33%);
  --title-color: hsl(0, 0%, 68%);
  --text-color: hsl(233, 4%, 35%);
  --body-color: hsl(0, 0%, 10%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: ;
  --second-font: ;
  --biggest-font-size: 3.25rem;
  --normal-font-size: .938rem;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 3.5rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.main {
  overflow: hidden; /* For the animations */
}

/*=============== HOME ===============*/

.home,
.home__container{
  position: relative;
}

.home__container{
  padding-top: 8rem;
  height: 100vh;
  display: grid;
  row-gap: 1rem;
}

.home__title{
  font-size: var(--biggest-font-size);
  font-family: 'Times New Roman', Times, serif;
  color: var(--title-color);
  margin-bottom: .75rem;
}
 
.home__title span{
  display: block;
  color: var(--first-color);
}

.home__data{
  margin-bottom: 5rem;
}

.home__description,
.home__button{
  font-weight: 600;
}

.home__button{
  display: inline-block;
  font-family: 'Quantico', sans-serif;
  background-color: var(--first-color);
  color: #fff;
  letter-spacing: .2rem;
  padding: 1rem 2rem;
  border-radius: 1rem 1rem 0 1rem;
  box-shadow: 0 8px 20px hsla(2, 100%, 45%, .28);
  transition: background .4s;
  cursor: pointer;
}

.home__button:hover{
  background-color: var(--first-color-alt);
}

.home__instructions{
  float: right;
  color: rgb(225, 225, 225);
  margin-top: 8rem;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  margin-right: -2rem;
  letter-spacing: 2px;
}

.home__controls{
  margin-top: 9rem;
  margin-left: -6rem;
}

.instruction-title{
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.instruction-content{
  font-size: 1.2rem;
}

.e-key{
  width: 25px;
}

.e-content{
  margin-left: 2rem;
  font-size: 1.3rem;
  color: #fff;
}

.shift-key{
  width: 96px;
  margin-top: .3rem;
}

.shift-content{
  margin-left: 3.7rem;
  font-size: 1.3rem;
  margin-top: 1rem;
  color: #fff;
}

.f-key{
  width: 29px;
  margin-top: .9rem;
}

.f-content{
  margin-left: 2.3rem;
  margin-top: 1rem;
  color: #fff;
  font-size: 1.3rem;
}

.home__images{
  position: relative;
  width: 325px;
  height: 378px;
  justify-self: center;
}

.home__images img{
  position: absolute;
}

.home__liquid{
  width: 580px;
  height: 380px;
  left: -8rem;
  top: -11rem;
}

.home__juice-animate img{
  width: 350px;
  transform: rotate(0deg);
  position: absolute;
  top: 24rem;
  left: -35rem;
}

.home__juice{
  width: 140px;
  left: 7rem;
  right: 0;
  top: 10rem;
  margin: 0 auto;
  animation: float-juice 4s ease-in-out infinite;
}

.home__juice-blood{
  position: relative;
  z-index: 2000000;
}

.home__shape-big{
  background-color: hsl(15, 3%, 72%);
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
}

.home__shape-big{
  width: 250px;
  height: 250px;
  top: 17rem;
  right: -8rem;
}

.home__torch{
  width: 220px;
  height: 220px;
  rotate: -32deg;
  top: 39rem;
  right: -3rem;
  position: absolute;
}

.home__shape-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: soft-light;
}


#app{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  perspective: 240px;
  perspective-origin: center 15%;
  font-family: 'Libre Franklin', sans-serif;
}

.fade{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 40vh;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  z-index: 10;
}

.background{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: no-repeat center/cover url(./assets/img/gate.jpeg);
}

.text-container{
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* background-color: rgba(255, 255, 255, 0.5);     */
  transform: rotateX(64deg) scale(0.55, 0.3) translateY(120vh);
  animation: 50s linear 0s infinite translateText;
}

.text{
  font-size: 5rem;
  background: -webkit-linear-gradient(rgb(126, 126, 126), #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  letter-spacing: 2px;
}

.text-cast{
  text-decoration: underline solid;
}

@keyframes translateText {
  0%{
   transform: rotateX(64deg) scale(0.55, 0.3) translateY(120vh);
  }
  100%{
      transform: rotateX(64deg) scale(0.55, 0.3) translateY(-400vh);
  }
}
/* Animation juice */

/*=============== BREAKPOINTS ===============*/

/* For small devices */
@media screen and (max-width:330px){
  .container{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .home__images{
    width: 245px;
    height: 320px;
  }

  .home__liquid{
    width: 250px;
    left: 0;
  }

  .home__juice{
    width: 100px;
  }
}

/* For medium devices */

@media screen and (min-width: 767px){

  .home__container{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
    padding-top: 4rem;
  }
}

/* For large devices */

@media screen and (min-width: 1024px) {

  .home__title{
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: var(--title-color);
    margin-bottom: .75rem;
  }

  .home__images{
    width: 530px;
    height: 590px;
  }

  .home__liquid{
    width: 530px;
  }

  .home__juice{
    width: 490px;
    left: 0;
    top: 1.5rem;
    z-index: 1000;
  }

  .home__juice-animate{
    width: 100px;
  }

  .home__shape-big{
    width: 500px;
    height: 500px;
    top: 16rem;
    right: -4rem;
  }

  .home__blood{
    width: 350px;
    left: -42rem;
    top: 14rem;
  }
}

@media screen and (min-width: 1048px) {
  .container{
    margin-left: auto;
    margin-right: auto;
  }
}


